<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StarredItems</key>
	<string>https://theoldreader.com/reader/api/0/stream/items/ids?output=json&amp;s=user/-/state/com.google/starred&amp;n=%d</string>
	<key>AllItemsIds</key>
	<string>https://theoldreader.com/reader/api/0/stream/items/ids?output=json&amp;s=user/-/state/com.google/reading-list&amp;n=%d</string>
	<key>RemoveSubscription</key>
	<string>https://theoldreader.com/reader/api/0/subscription/edit?ac=unsubscribe&amp;s=%@</string>
	<key>MoveSubscriptionToDefaultFolder</key>
	<string>https://theoldreader.com/reader/api/0/subscription/edit?ac=edit&amp;s=%@&amp;r=%@</string>
	<key>MoveSubscriptionToFolder</key>
	<string>https://theoldreader.com/reader/api/0/subscription/edit?ac=edit&amp;s=%@&amp;a=%@</string>
	<key>ChangeSubscriptionTitle</key>
	<string>https://theoldreader.com/reader/api/0/subscription/edit?ac=edit&amp;s=%@&amp;t=%@</string>
	<key>AddSubscription</key>
	<string>https://theoldreader.com/reader/api/0/subscription/quickadd?quickadd=%@</string>
	<key>SubscriptionsOPML</key>
	<string>https://theoldreader.com/reader/subscriptions/export</string>
	<key>SubscriptionsList</key>
	<string>https://theoldreader.com/reader/api/0/subscription/list?output=json</string>
	<key>UnreadCount</key>
	<string>https://theoldreader.com/reader/api/0/unread-count?output=json</string>
	<key>RemoveFolder</key>
	<string>https://theoldreader.com/reader/api/0/disable-tag?s=%@</string>
	<key>RenameFolder</key>
	<string>https://theoldreader.com/reader/api/0/rename-tag?s=%@&amp;dest=%@</string>
	<key>FolderList</key>
	<string>https://theoldreader.com/reader/api/0/tag/list?output=json</string>
	<key>UserInfo</key>
	<string>https://theoldreader.com/reader/api/0/user-info?output=json</string>
	<key>Login</key>
	<string>https://theoldreader.com/accounts/ClientLogin</string>
</dict>
</plist>
